html {
  font-size: 10px;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
}

#navigation-bar {
  position: relative;
  margin: auto;
  background-color: #f72210;
  color: #fff;
  padding: 5rem 0 1rem 0;
  max-width: 131rem;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

#navigation-b {
  position: relative;
  top: 8.9rem;
  max-width: 131rem;
  margin: auto;
}

.logoimg {
  position: absolute;
  width: 39.6rem;
  height: 6rem;
  -webkit-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
  top: 1.5rem;
  left: 50%;
}

.logoimg > img {
  width: 100%;
  cursor: pointer;
}

#datenav {
  position: relative;
  left: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

#signin {
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  bottom: 1rem;
  cursor: pointer;
}

#signin a {
  text-decoration: none;
  color: #f72210;
  background-color: #fff;
  padding: 0.3rem 0.2rem 0.2rem 1.5rem;
}

.fa-chevron-right {
  padding-right: 1rem;
  padding-left: 1rem;
  z-index: 100;
}

#signin span {
  padding-right: 1rem;
}

.fa-bars {
  position: absolute;
  top: 0;
  right: -1rem;
  width: 1.6rem;
  padding: 1rem;
  color: #f72210;
  z-index: 100;
}

.header-bottom {
  color: #000;
  height: 5rem;
  padding: 1rem 0;
  background-color: #fff;
  position: relative;
}

.header-bottom::before {
  width: 6.6rem;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 1.2rem solid #fff;
  border-top: 1.3rem solid #f72210;
}

.last-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0 5.4rem 0 0;
}

.last-nav li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  border-left: 0.1rem solid #d9d9d9;
}

.last-nav > li > a {
  cursor: pointer;
}

.last-nav > li:nth-child(-n+10):hover {
  color: #f72210 !important;
}

.last-nav :first-child,
.last-nav :last-child {
  border-width: 0;
}

#search {
  color: #0000008c;
  cursor: text;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-search {
  padding-left: 1rem;
}

@media screen and (max-width: 990px) {
  .logoimg {
    width: 13.2rem;
    height: 2rem;
    left: 10rem;
    top: 1rem;
  }

  #navigation-bar {
    min-width: 48rem;
    height: 5rem;
    padding: 0.5rem 0;
    font-size: 2rem;
  }

  #datenav {
    display: none;
  }

  .fa-search {
    display: none;
  }

  /* nav bottom */
  .header-bottom {
    display: none;
  }

  .main-content {
    padding-top: 8rem;
  }
}
/* MAIN CONTENT */
.wide {
  margin-top: 10rem;
  max-width: 131rem;
}

.section-title {
  color: #03030366;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-bottom: 1.1rem;
  padding-top: 2rem;
}

.story {
  padding-bottom: 20px;
}

.boxed {
  position: relative;
  min-height: 3.3rem;
}

.boxed > img {
  position: relative;
  width: 100%;
}

.inner-caption {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

.main-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 10px;
}

.related {
  padding: 10px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.culture-stories {
  margin-top: 0;
}

.culture-title > a {
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: #272727;
  text-decoration: none;
}

.culture-title > a:hover {
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: #272727;
  text-decoration: none;
}

.culture-item .info {
  padding: 15px 10px 20px;
}

.culture-item .summary {
  font: 15px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.culture-item .tags {
  font: 300 13px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #272727;
}

.culture-item .tags a {
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  color: #272727;
}

.culture-item .tags a:hover {
  background-color: #272727;
  color: #c2d4d7;
  text-decoration: none;
}

#more-stories-part {
  padding-top: 14px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
}

#image {
  float: left;
  width: 135px;
  margin-right: 15px;
  clear: right;
}

h6 {
  font-size: 17px;
  color: #000;
  font-weight: 700;
}

.opinion {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headshot {
  height: 63px;
  max-width: 63px;
}

.info {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: -10px;
}

.byline {
  color: #555;
  padding: 0;
  margin: 0;
}

#last-opinion {
  border: none;
}

/*# sourceMappingURL=styles.css.map */